*{
  margin: 0px 0px;
  padding: 0px;
  background:#F2F2F2 ;
}
.delivery-box {
  margin: 10px 0px;
  padding: 10px;

  width: 80%;
  cursor: move;
  border-radius: 10px;
  span{
    background-color: transparent;
    margin-bottom: 10px;
  }
 form{
   margin:5px 0px;
   background-color: transparent;
 
  input[type=text] {
   
    width: 100%;
    padding: 9px 20px;
    border: none;
    box-sizing: border-box;
  }
  button{
    margin-top: 10px;
    padding: 5px ;
    border-radius: 5px;
  }
}
}
.container{
  padding: 10px;
  .logo{
    width: 100px;
  }
  h1{
    color: #7A9FBF;
    text-align: center;
    font-weight: 300;
  }
  .grid-row:first-child .grid-item{
    background-color: #E4EFCB;
  }
  .grid-row{
    display: flex;
    justify-content: space-around;
    .grid-item {
      height: 600px;
      flex-basis: 20%;
     width: 320px;
      position: relative;
      padding: 10px;
      box-sizing: border-box;
      h4{
        background-color: transparent;
        text-align: center;
        margin-bottom: 20px;
      }

    }
  }
 
}
/* SPINNER */


.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(250, 129, 30, 0.692);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}